<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h3 class="score lead">Score: {{score}}</h3>
      </div>
      <div class="col-lg-6">
      <h3 class="user lead">Logged In as: {{user}}</h3>
      </div>
      </div>
      </div>
<div class="container game">
<div class="row">
<div class="col-lg-12">
</div>
</div>
<div class="row">
      <div class="col-lg-5 col-md-4 col-sm-6 back-op">
              Questions
                <div class="card card-outline-primary mb-3" droppable [dragOverClass]="'drag-target-border-green'" [dropScope]="'vegetable'"
                    [dragHintClass]="'drag-hint'" (onDrop)="onVegetableDrop($event)">
                    <div class="card-header card-inverse card-primary lead">{{questions[i]}}</div>
                    <div class="card-block scroll-list">
                        <li *ngFor="let item of droppedVegetables" class="list-group-item">{{item.name}}</li>
                    </div>
                </div>
            </div>
  <div class="col-lg-5 col-md-4 col-sm-6 back-op">
      <div class="card card-outline-success mb-3">
          <div class="card-header card-inverse card-success">
              Answers
              </div>
          <div class="card-block scroll-list">
              <div class="list-group">
                <ng-container *ngFor="let item of [vegetables[this.i]]">
                  <li
                    *ngFor="let items of item"
                    class="list-group-item list-group-item-action list-group-item-success"
                    [draggable]
                    [dragClass]="'active'"
                    [dragTransitClass]="'active'"
                    [dragData]="items"
                    [dragScope]="items.type"
                    [dragEnabled]="dragEnabled">
                    {{items.name}}
                  </li>
                </ng-container>
              </div>
          </div>
      </div>
  </div>
</div>
</div>

