.navbar img{
    max-height: 50px;
}
.navbar {
    margin: 0 !important;
    min-height: 80px;
    background-color: #EBF1F2 !important;
    border: none !important;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(8,36,63,0.23);
    -moz-box-shadow: 0px 2px 4px 0px rgba(8,36,63,0.23);
    box-shadow: 0px 2px 4px 0px rgba(8,36,63,0.23);

  }

  .navbar-brand {
    padding: 15px 15px;
    height: 80px;
    line-height: 80px;
  }

  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }

  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }
